.button__group {
  display: flex;
  align-items: center;
  flex-direction: row;
}
TextArea{
  width: 75%;
}
.default {
  display: flex;
  gap: 20px;
  height: 200px;

  TextArea {
    height: 200px;
  }

  .button__group {
    gap: 10px;
    .button {
      width: 100px;
      height: 100px;
    }
  }
}

.shrinked {
  height: 70px;
  display: flex;
  gap: 20px;
  transition: 1s;

  .button__group {
    gap: 10px;
  }

  TextArea {
    height: 70px;
    transition: 0.7s;
  }

  .button {
    height: 70px;
    width: 70px;
    transition: 0.7s;
  }
}
