/*.animatedBar__parent{
  height: 10px;
  width: 100%;
}

.animatedBar__child {
  height: 100%; 
  transition: width 1s ease-in-out; 
  background-color: #4CAF50; 
}*/

/* Define the custom property and animations */
@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}
.counter {
  transition: --num 2s;
  counter-set: num var(--num);
}
.counter::after {
  content: counter(num);
}
/*div{
  --num: 50;
} indicate in component*/
.animatedBar__parent {
  height: 10px;
  width: 100%;
}

.animatedBar__child {
  position: absolute;
  border-radius: 5px;
  height: 10px;
  background-color: var(--primary-color);
  transition: width 2s ease, background-color 2s ease;
}
